<% if flash[:blogger_errors] %>
    <% flash[:blogger_errors].each do |error| %>
    <p><%= error %></p>
    <%end%>
    <%end%>


<%= form_for @blogger do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :bio  %>
    <%= f.text_area :bio %>

    <%= f.label :age %>
    <%= f.text_field :age %>

    <%= f.submit %>


<% end  %>