<h1><%=@blogger.name %></h1>

<p>Bio: <%=@blogger.bio %></p>

<p>Age: <%=@blogger.age %></p>

<p>Total Number of likes: <%=@blogger.all_likes %></p>

<p>Featured Post: 
    <%if @blogger.featured_post != nil  %>
    <%= link_to @blogger.featured_post.title, post_path %></p>
    <% else  %>
    <%= "No Current Posts"  %>
    <% end%>

<p>Top Destinations: </p>

            <% @blogger.top_five.each do |destination|%>
            <li><%= destination.name%></li>
            <% end%>




