<h1><%=@blogger.name %></h1>

<p>Bio: <%=@blogger.bio %></p>

<p>Age: <%=@blogger.age %></p>

<p>Total Number of likes: <%=@blogger.all_likes %></p>

<p>Featured Post: <%=@blogger.featured_post.title %></p>

<p>Top Destinations: </p>

            <% @blogger.top_five.each do |post|%>
            <li><%= post.destination.name%></li>
            <% end%>




